<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/css/ViewMenu.css">
    <title>Prendas</title>
</head>

<body>
<div class="container">
    <nav id="side_menu" class="side-menu">
        <header class="header" id="header">
            <img src="/img/logo.svg" alt="Icono buscar">
        </header>
        <div id="toggle_container" class="toggle-container">
            <img src="/img/btn/arrow.svg" alt="<">
        </div>
        <div class="menu-list">
            <p>CATEGORÍAS</p>
            <ul id="category_garments">

            </ul>
        </div>
    </nav>
    <div class="main-side">
        <form class="search-bar-container">
            <input type="text" id="search" placeholder="Buscar prenda o código de referencia...">
            <img id="btn_search" src="/img/btn/search-icon.svg" alt="Icono buscar">
        </form>
        <div class="cards-container" id="all_garments">

        </div>
    </div>
</div>

<script src="/lib/jquery-3.6.4.js"></script>
<script src="/js/main.js"></script>
</body>

</html>