<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.3.0/mdb.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/ViewMenu.css">
    <link rel="stylesheet" href="/css/Viewgarment.css" />
    <link rel="stylesheet" media="screen, projection" href="/css/drift-basic.css" />
    <script src="https://kit.fontawesome.com/c89d5783e0.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/img/logo.svg" type="image/x-icon">
</head>

<body>
<input type="hidden" name="" id="id_germants" value="<%= id %>">
<input type="hidden" name="" id="id_rol" value="<%= rol %>">
<div class="men-top">
    <div>
        <a class="all-garments" href="/">
            <div class="all-garments-icon">
                <img src="/img/logo.svg" alt="" />
                <img src="/img/btn/all-garments-icon.svg" alt="" />
            </div>
            <div class="all-garments-text">
                <span for="">Ver otras prendas</span>
            </div>
        </a>
    </div>
    <div class="title-graments">
        <label id="title_general"></label>
        <label id="title_reference"></label>
    </div>
</div>
<div>
    <div class="content-garment-img">
        <div class="img-garment-btn">
            <button class="btn-arrows-garments btn-arrows-garments-left">
                <img src="/img/btn/flechaiz.svg" alt="" class="img-arrows-garments">
            </button>
            <div id="container_img_garments">

            </div>
            <button class="btn-arrows-garments btn-arrows-garments-right">
                <img src="/img/btn/flechader.svg" alt="" class="img-arrows-garments">
            </button>
        </div>
        <div class="img-molds-btn">
            <div class="prueba" id="moldes">

            </div>

        </div>
    </div>
</div>
<div class="container-btn-phone">
    <button class="btn-arrows-garments-2 btn-arrows-garments-left">
        <img src="/img/btn/flechaiz.svg" alt="" class="img-arrows-garments">
    </button>

    <button class="btn-arrows-garments-2 btn-arrows-garments-right">
        <img src="/img/btn/flechader.svg" alt="" class="img-arrows-garments">
    </button>
</div>
<div class="conteiner">
    <div class="content-date">
        <div class="video-tutorial">
            <div class="video-tutorial-contenido" id="video_tutorial_contenido">
                <img src="/img/Frame 5.png" alt="">
            </div>
        </div>
        <div class="instructions-garment" id="instructions_garment">
            <div class="instructions-garment-content">
                <h1>Instructivo de la prenda</h1>
                <p>
                <ul id="instructions-garments-text">

                </ul>
                </p>
            </div>

        </div>
    </div>
</div>
<div class="suggestions-garment">
    <div class="suggestions-garment-title">
        <h1>Otras prendas similares</h1>
    </div>
    <div class="suggestions-garment-cards" id="suggestions_garment_cards">

    </div>
</div>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="floating-container">
    <div class="floating-button">+</div>
    <div class="element-container">
         <span class="float-element material-symbols-outlined zoom-in">
          <i class="material-icons">zoom_in
          </i>
            </span>
        <span class="float-element zoom-out">
        <i class="material-icons">zoom_out
        </i>
      </span>
        <a href="/"> <span class="float-element ">
        <i class="material-icons">home</i>
      </span>
        </a>
        <span class="float-element">
        <i class="material-icons generatePdf">picture_as_pdf</i>
      </span>
    </div>
</div>

<div class="modal fade" id="detailsgarments" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header modal-header-container"
                 style="display: flex; align-items: center; justify-content: space-between;">
                <h5 class="modal-title" id="modal_title"></h5>
                <button type="button" class="btn-close  closemodal" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>


            <div class="modal-body container-content-modal">
                <div class="container-content-modal-img" id="container_content_modal_img">

                </div>
                <div>
                    <div class="container-content-modal-indications" >
                        <div id="container_content_modal_indications" ></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="display: flex; align-items: center; justify-content: center;">
                <button type="button" class="btn btn-primary btn-rounded closemodal" data-mdb-dismiss="modal">Regresar</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.3.0/mdb.min.js"></script>
<script src="/lib/jquery-3.6.4.js"></script>
<script src="/lib/Drift.js"></script>
<script src="/js/Viewgarment.js"></script>

</body>

</html>